* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
}
#main_title {
  width: 400;
  height: 60;
  top:7px;
  left: 300px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1mm ridge #41A78B;
  background-color: 	#E1FFF7;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  color:#41A78B;
  font-size: 12px;

  }
  #main_title2 {
    width: 150;
    height: 260;
    bottom:60px;
    right: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1mm ridge #41A78B;
    background-color: 	#E1FFF7;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'PT Sans Narrow', sans-serif;
    color:#41A78B;
    font-size: 12px;
  
    }

.map {
 height: 100vh;
 width: 85vw;
}
.map .ol-rotate button {
  top: 40;
  background: #41A78B;
  color: #E1FFF7;
  
}
.map .ol-rotate {
  top: 40;  
}
.map .ol-ZoomSlider {
background-color: #41A78B;
color: #E1FFF7;
top: 110;
}
.ol-zoom button {
  background-color: #41A78B;
}
.map .ol-zoom-extent button {
  background-color: #41A78B;
  color: #E1FFF7;
  }
.map .ol-full-screen button {
  background-color: #41A78B;
    color: #E1FFF7;
    }
.map .ol-scale-line{
  left:180;
  background-color: #41A78B;
  color: #E1FFF7;
  
}
.ol-mouse-position {
  top: 13;
  right: 60px;
  color: #41A78B;
  background-color: #E1FFF7;
  font-weight: lighter;
  font-family: system-ui, sans-serif;
  border-radius: 4px;
  position: absolute;
  border: 0.5mm ridge rgba(0, 0, 0, 1);
}

.ol-mouse-position2{
  top: 40;
  right: 60px;
  color: #41A78B;
  background-color: #E1FFF7;
  font-weight: lighter;
  font-family: system-ui, sans-serif;
  border-radius: 4px;
  position: absolute;
  border: 0.5mm ridge rgba(0, 0, 0, 1);
}
.map .ol-overviewmap {
  background-color: #41A78B;
}
.map .ol-overviewmap button {
  background-color: #41A78B;
  left: 5;
  bottom: 5;
}
.popup-output {
  background-color: #E1FFF7;
  border-radius: 8px;
  font-weight: bold;
  font-family: system-ui, sans-serif;
  color: #41A78B;
  border: 1mm ridge rgba(0, 0, 0, 0.6);
}

.grid-container{
  display: grid;
  width: 15vw;
  background-size: cover;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 100vh;
  background-image: url(https://kartinkin.net/uploads/posts/2021-01/1611019489_8-p-foni-s-travoi-i-nebom-dlya-prezentatsii-11.jpg);
}


.sidebar {
  font-family: Georgia, serif;
  font-size: 12pt;
  font-weight: lighter;
  color: #ffe8c7;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  position: relative;
  left: 8;
  

}
.head_base{ 
  color: rgb(252, 143, 0);
  font-family: Georgia, serif;
  font-size: 18pt;
  font-weight: lighter;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  position: relative;
 }
.head_layers{
  color: rgb(252, 143, 0);
  font-family: Georgia, serif;
  font-size: 18pt;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  position: relative;
  font-weight: lighter;
}
.Thematic{
  color: rgb(252, 143, 0);
  font-family: Georgia, serif;
  font-size: 18pt;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  position: relative;
  font-weight: lighter;
}
.m3{
  font-family: Courier New, monospace;
  font-size: 10pt;
  font-stretch: condensed;
  border-radius: 0.5em;
  padding: 0.5em 0.5em;
  cursor: pointer;
  background-image: linear-gradient(to top, #ff8a05, rgb(255, 248, 188) 20%);
  position: relative;
  left: 5;

}


.overlay-container {  
  background-color: #E1FFF7;
  border-radius: 8px;
  font-weight: lighter;
  font-family: system-ui, sans-serif;
  color: #3d7a6a;;
  border: 0.5mm ridge rgba(0, 0, 0, 1);
  position: relative;
  top: 100;
  right: 100;
  


}
.main-title-image{
  width: 20px;
  height: 20px;
  position: relative;
  top: -14px;
  right: 30px;

}

.main-title-image2{

position: relative;

}
.overlay-NP{
  background-color: #E1FFF7;
  font-weight:lighter;
  font-family: system-ui, sans-serif;
  color: #000000;
  position: relative;
  top: 20;
  right: 20;
}





